.TaskItem {
  background-color: #fafafa;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.2);
  width: 100%;
  height: auto;
  border-radius: 10px;
}

.TaskItem-p {
  width: calc(100% - 120px);
  font-size: 28px;
  line-height: 24px;
  font-weight: 400;
  padding: 16px;
}
.TodoItem-p--complete {
  text-decoration: line-through;
}

.Icon {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 48px;
  width: 48px;
  font-size: 24px;
  font-weight: bold;
  /* background-color: #CCC; */
}

.Icon-check {
  width: 60px;
}

.Icon-check--active {
  color: #311535;
}

.Icon-delete {
  width: 40px;
}
.Icon-delete:hover {
  color: red;
}
